<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/public/css/head.css">
    <link rel="shortcut icon" href="http://www.slbenfica.pt/Portals/_default/Skins/SLB/images/hp_logo.png" />
</head>
<body>

<div class="center">
    <a href="/users"><h2>Users</h2></a>
    <a href="/students"> <h2>Students</h2> </a>
    <a href="/teachers"><h2>Teachers</h2></a>
    <a href="/programmes"><h2>Programmes</h2></a>
    <a href="/courses"><h2>Courses</h2></a>
    <a href="/classes"><h2>Classes</h2></a>
</div>

</body>
</html>