<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Courses</title>
    <link rel="stylesheet" type="text/css" href="/public/css/head.css">
</head>
<body>
<h1><a href = "/courses">Course</a></h1>
%s
<hr>
<table>
    <tr>
        <th>Mandatory</th>
        <th>Name</th>
        <th>Acronym</th>
        <th>Coordinator</th>
        <th>Semesters</th>
        <th>Programmes</th>
    </tr>
    %s
</table>
<br>
%s
<a href = "/" class="button"> Index </a>
</body>
</html>