<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Classes</title>
    <link rel="stylesheet" type="text/css" href="/public/css/head.css">
</head>
<body>
<h1><a href="/courses/%s/classes">Class</a></h1>
<table>
    <tr>
        <th>Course acr</th>
        <th>Semester</th>
        <th>Class Id</th>
    </tr>
    %s
</table>
<h1><a href="%s/teachers">Teachers</a></h1>
<table>
    <tr>
        <th>Name</th>
    </tr>
    %s
</table>
<h1><a href="%s/students">Students</a></h1>
<table>
    <tr>
        <th>Name</th>
    </tr>
    %s
</table>
<form action="%s/teachers" method="post">
    Teacher Number:<br>
    <input type="number" name="numDoc" required="required"> <br>
    <input type="submit" value="Submit">
</form>
<form action="%s/students" method="post">
    Student Number:<br>
    <input type="number" name="numStu" required="required"> <br>
    <input type="submit" value="Submit">
</form>
<br>
<a href = "/" class="button"> Index </a>
</body>
</html>