<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Programme</title>
    <link rel="stylesheet" type="text/css" href="/public/css/head.css">
</head>
<body>
<h1><a href ="/programmes">Programme</a></h1>
<hr>
<table>
    <tr>
        <th>Name</th>
        <th>PID</th>
        <th>Length</th>
        <th>Courses</th>
    </tr>
    %s
</table>
<form action="/programmes/%s/courses" method="post">
    Acronym:<br>
    <input type="text" name="acronym" required="required"> <br>
    Mandatory:<br>
    <input type="text" name="mandatory" required="required"> <br>
    Semesters:<br>
    <input type="text" name="semesters" required="required"> <br><br>
    <input type="submit" value="Submit">
</form>
<br>
<a href = "/" class="button"> Index </a>
</body>
</html>